.header{
    background-color:#eb0028;
    width: 100%;
    height: 100px;
    color: aliceblue;
    text-align: justify;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#nav{
    padding-top: 45px;
}
.navst{
    padding-left: 225px;
}
.nav1{
   margin-left: 50px;
    text-decoration: none;
    color:wheat;
    padding-right: 5px;
  
}
a.nav1:hover{
    background-color: aliceblue;
height: 45px;
    border-radius: 15px;
    color: black;
}





.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    

    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#eb0028;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  #myLinks{
    font-size: 34px;
text-align: center;
  }
  
  #myLinks a:hover{
    background-color: aliceblue;
    height: 45px;
        border-radius: 15px;
        color: black;
    

  }
  .active {
    background-color:#eb0028;
    color: white;
  }
  



  #slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 100%; 
    height: 600px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  }
  #slideshow img{
    width: 100%;
    height: 600px;
  }
  #slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
  }










  
@media (min-width: 1000px) {
   
  #nav-mobile{
  display: none;
   }
}


@media (max-width: 1000px) {
 
  .header{
 display: none;
  }

  #slideshow img{
    height: 350px;
  }


}
